[mysqld]
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0

ssl_cert=/etc/ssl/mysql/galera-server-crt.pem
ssl_key=/etc/ssl/mysql/galera-server-key.pem
ssl_ca=/etc/ssl/mysql/galera-ca-crt.pem

# Galera Provider Configuration
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_provider_options="gcache.size=1G;gcache.recover=yes;socket.ssl_key=/etc/ssl/mysql/galera-server-key.pem;socket.ssl_cert=/etc/ssl/mysql/galera-server-crt.pem;socket.ssl_ca=/etc/ssl/mysql/galera-ca-crt.pem"

# Galera Cluster Configuration
wsrep_cluster_name={{ wsrep_cluster_name }}
wsrep_cluster_address="gcomm://{{ host1 }},{{ host2 }},{{ host3 }}"

# Galera Synchronization Configuration
wsrep_sst_method=mariabackup
wsrep_sst_auth=mysql:
#wsrep_sst_method=rsync

# Galera Node Configuration
wsrep_node_address="{{ wsrep_node_address }}"
wsrep_node_name="{{ wsrep_node_name }}"

[sst]
encrypt=4
tkey=/etc/ssl/mysql/galera-server-key.pem
tcert=/etc/ssl/mysql/galera-server-crt.pem
tca=/etc/ssl/mysql/galera-ca-crt.pem
